<!-- <h1>Welcome to Life Overflow!</h1> -->

<h2>All questions:</h2>
<% @questions.each do |question| %>
  <%= "Question: #{question.question_content}" %>
  <%= link_to 'Show' , question_path(question) %>
  <%= link_to 'Delete' , question_path(question), :method => :delete %>
  <br><br>
<% end %>

<% if current_user %>
<%= button_to 'Create a Question', new_question_path, :method => :get, :class => "btn btn-success" %><br><br>
<% end  %>