<div id="create-answer">
<h1> Create an Answer Below </h1>
  <%= form_for [@question, @answer] do |f| %>
    <p><%= f.label :answer_content %>&nbsp;<%= f.text_field :answer_content %></p>
    <p><%= f.submit "Submit" %></p>
  <% end %>
</div>